@font-face {
   font-family: "b yekan";
   src: url("@/assets/fonts/B-Yekan.ttf") format("truetype");
}

*,
*::after,
*::before,
html {
   font-family: "b yekan";
   direction: rtl;
   scroll-behavior: smooth;
   letter-spacing: 0;
}